.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// mainCard

// first card

.mainCard_title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  width: 300px;
  white-space: pre-wrap;
  margin-bottom: 28px;
}

.mainCard_arrow {
  margin-bottom: 28px;
}

.mainCard_banners {
  width: 370px;
}

.mainCard_banner {
  display: flex;
  margin-bottom: 10px;
}

.mainCard_background {
  flex: 2;
}

.mainCard_background_image {
  background: url(/images/image55.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mainCard_banner_description {
  flex: 1;
}

.mainCard_banner_description_wrap {
  padding: 23px 15px 30px 25px;
  background-color: #636b7f;
  color: white;
}

.mainCard_banner_discount {
  position: relative;
  margin-bottom: 10px;
  white-space: pre-wrap;
  font-size: 15px;

  line-height: 22px;
  display: flex;
  flex-direction: column;
  font-weight: 700;

  z-index: 1;
  color: black;
}

.mainCard_banner_discount:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 24px;
  left: -9px;

  top: 0px;
  background: #ffdc38;
  z-index: -1;

  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform: skew(-30deg);
}

.mainCard_banner_break {
  white-space: pre-line;
  width: 130px;
  line-height: 22px;
  color: white;
}

.mainCard_banner_discount_buttun {
  text-decoration: none;
  position: relative;
  outline: none;
  padding: 0;
  border: none;
  color: #ffffff;
  background-color: transparent;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.mainCard_banner_discount_buttun:after {
  content: "";
  position: absolute;
  opacity: 0.1;
  border: 2px solid #ffffff;
  border-radius: 90px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 20px;
  height: 20px;
  left: 44px;
  top: -3px;
  cursor: pointer;
}

// second card

.mainCard_banner_description_wrap_inverted {
  background: #f5f5f7;
}

.mainCard_banner_discount_inverted {
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.mainCard_banner_discount_inverted::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mainCard_banner_break_amount {
  position: absolute;
  right: 10px;
  top: 4px;
  font-weight: 700;
}

.mainCard_banner_break_inverted {
  color: black;
}

.mainCard_banner_discount_buttun_inverted {
  color: #2e2e33;
}

.mainCard_banner_discount_buttun_inverted:after {
  border: 2px solid #ffffff;
}

.mainCard_background_image_inverted {
  background: url("/images/image60.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .mainCard_banners {
    width: 90vw;
  }
}
